.todo-block {
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 25px 10px 0 10px;

  &_input {
    margin-top: 25px;
    width: 100%;
  }

  &_list {
    width: 100%;

    background: var(--beige-100);
    border: 1px solid var(--beige-200);

    &_item {
      height: 50px;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 20px;
    }
  }

  &_task-bar {
    height: 60px;
    width: 100%;

    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    &_list {
      &_items {
        display: flex;
        gap: 15px;
        &_item {
          font-size: 20px;

        }
      }
    }

    &_clear-button {
      min-width: 230px;

      cursor: pointer;
      font-size: 20px;

      background: none;
    }
  }
}

@media (max-width: 800px) {
  .todo-block {
    &_task-bar {
      padding: 0;
      position: relative;
      &_count {
        text-align: center;
        font-size: 18px;
      }
      &_list {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        &_items {
          gap: 10px;

          &_item {
            font-size: 18px;
          }
        }
      }
      &_clear-button {
        min-width: 180px;
        font-size: 18px;
      }
    }
  }
}